<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="com.conradoweb.cenouraapp">
    <name>Só de Cenoura</name>

    <description>
        Cardápio do restaurante Só de Cenoura
    </description>

    <author href="http://www.conradoweb.com.br/" email="faleconosco@conradoweb.com.br">
        Lucas Conrado
    </author>
</widget>